In [1]:
import os
import numpy as np
import pandas as pd

In [106]:
out_dir = os.path.join('..','codes_download_data','tmpa_urls')

if not os.path.exists(out_dir):
    print('WARNING: Download folder not found, must create it!')
else:
    print(f'Export list to: {out_dir}')

Export list to: ../codes_download_data/tmpa_urls

In [92]:
urls_folder = 'tmpa_urls'
url_files = os.listdir(urls_folder)
num_url_files = len(url_files)
print(f'Number of files: {num_url_files}')

Number of files: 3

In [93]:
url_files

['urls_2018.txt', 'urls_1998_2007.txt', 'urls_2008_2017.txt']

In [111]:
file_dir = os.path.join(urls_folder, url_files[-1])
FILES = pd.read_csv(file_dir, header=None)
FILES.rename(columns={list(FILES)[0]:'url'}, inplace=True)

In [112]:
years = []
for nn in range(len(FILES)):
    yy = FILES['url'][nn].split('/')[-3]
    years.append(int(yy))

FILES['year'] = years
FILES.head(5)

                                                 url  year
0  https://disc2.gesdisc.eosdis.nasa.gov/data//TR...  2017
1  http://disc2.gesdisc.eosdis.nasa.gov/data//TRM...  2017
2  http://disc2.gesdisc.eosdis.nasa.gov/data//TRM...  2017
3  http://disc2.gesdisc.eosdis.nasa.gov/data//TRM...  2017
4  http://disc2.gesdisc.eosdis.nasa.gov/data//TRM...  2017

In [121]:
yy1 = 2008
yy2 = 2010
FILES = FILES[(FILES['year']>=yy1)&(FILES['year']<=yy2)]
FILES.head(5)

                                                     url  year
20456  http://disc2.gesdisc.eosdis.nasa.gov/data//TRM...  2010
20457  http://disc2.gesdisc.eosdis.nasa.gov/data//TRM...  2010
20458  http://disc2.gesdisc.eosdis.nasa.gov/data//TRM...  2010
20459  http://disc2.gesdisc.eosdis.nasa.gov/data//TRM...  2010
20460  http://disc2.gesdisc.eosdis.nasa.gov/data//TRM...  2010

In [122]:
FILES['year'].unique()

array([2010, 2009, 2008])

In [123]:
for nn in range(len(FILES['year'].unique())):
    print(f'Times in {FILES['year'].unique()[nn]}: {len(FILES[FILES['year']==FILES['year'].unique()[nn]])}')

Times in 2010: 2920
Times in 2009: 2920
Times in 2008: 2928

In [124]:
filename = os.path.join('..','codes_download_data','tmpa_urls',f'urls_{yy1}_{yy2}.csv')
print(f'Export list as: {filename}')
FILES.to_csv(filename, header=True, index=False)

Export list as: ../codes_download_data/tmpa_urls/urls_2008_2010.csv